body{
    background-color: #d5f4e6;
}

h1 {
    background-color: #1321e4;
    display: block;
    padding-bottom: 30px;
  }
  p{
    background-color: lightcyan;
    padding-bottom:20px;
  }
  div {
    background-color: lightsteelblue;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }